<div class="mat-app-background" [class.dark-theme]="(theme$ | async) === true">
  <div flexLayoutAlign="center center">
    <mat-card>
      <mat-card-header>
        <img matCardAvatar src="assets/icons/icon-72x72.png" />
        <mat-card-title>Welcome to Vimbal</mat-card-title>
        <mat-card-subtitle>Connect your wallet</mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
        <button mat-raised-button (click)="connectMetaMask()" color="primary">
          Connect with Meta Mask
        </button>
      </mat-card-content>
      <mat-card-actions align="start">
        <button mat-button>Back</button>
      </mat-card-actions>
    </mat-card>
  </div>
</div>
