<!-- <div
  [class.dark-theme]="(theme$ | async) === true"
  [@fadeInAnimation]="prepareRoute(outlet)"
> -->
<div class="wrapper">
  <div [class.dark-theme]="(theme$ | async) === true">
    <div class="overlay" *ngIf="loading">
      <div class="spinner-wrapper">
        <mat-progress-spinner
          diameter="100"
          strokeWidth="4"
          style="margin: 15vh auto"
          *ngIf="loading"
          mode="indeterminate"
          color="primary"
        >
        </mat-progress-spinner>
      </div>
    </div>
    <div [class.blurred]="loading">
      <router-outlet #outlet="outlet"></router-outlet>
    </div>
  </div>
</div>

<!-- </div> -->
