<!-- <mat-nav-list>
  <a href="https://keep.google.com/" mat-list-item (click)="openLink($event)">
    <span mat-line>Wallet Address</span>
    <span mat-line>{{ walletAddress }}</span>
  </a>
</mat-nav-list> -->

<mat-nav-list>
  <h3 matSubheader>Whisper Chat</h3>
  <ng-container *ngFor="let item of [1, 2, 3, 4, 5, 6]">
    <mat-list-item disableRipple>
      <img matListAvatar src="https://picsum.photos/200" />
      <span mat-line>{{ item }}</span>
      <span mat-line>Quantity: {{ item }}</span>
      <button mat-icon-button>
        <mat-icon color="warn">delete</mat-icon>
      </button>
    </mat-list-item>
  </ng-container>
  <mat-form-field appearance="fill">
    <mat-label>Type a message</mat-label>
    <input matInput />
    <button mat-icon-button matSuffix>
      <mat-icon>send</mat-icon>
    </button>
  </mat-form-field>
</mat-nav-list>
