<div class="layout">
  <div class="profile">
    <div class="profile__picture">
      <ng-container *ngIf="(currentUser | async)?.photoURL; then hasPhoto; else noPhoto">
      </ng-container>
      <ng-template #hasPhoto>
        <img [src]="(currentUser | async)?.photoURL" />
      </ng-template>

      <ng-template #noPhoto>
        <svg [data-jdenticon-value]="walletAddress"></svg>
      </ng-template>
    </div>
    <div class="profile__header">
      <div class="profile__account">
        <h4 class="profile__username">Wallet Address: {{ walletAddress }}</h4>
      </div>
      <div class="profile__edit">
        <button mat-raised-button (click)="isEditable = !isEditable">Edit Profile</button>
      </div>
    </div>
    <div class="profile__stats">
      <div class="profile__stat">
        <div class="profile__icon profile__icon--gold">
          <i class="fas fa-wallet"></i>
        </div>
        <div class="profile__value">
          {{ walletBalance | number }}
          <div class="profile__key">Balance</div>
        </div>
      </div>
      <div class="profile__stat">
        <div class="profile__icon profile__icon--blue">
          <i class="fas fa-signal"></i>
        </div>
        <div class="profile__value">
          {{ userPublications.length }}
          <div class="profile__key">Publications</div>
        </div>
      </div>
      <div class="profile__stat">
        <div class="profile__icon profile__icon--pink">
          <i class="fas fa-heart"></i>
        </div>
        <div class="profile__value">
          {{ userReviews.length }}
          <div class="profile__key">Reviews</div>
        </div>
      </div>
    </div>
  </div>
</div>

<form
  (ngSubmit)="handleProfileFormSubmit()"
  [formGroup]="profileForm"
  [class.blurred]="!isEditable"
>
  <mat-card>
    <mat-card-header>
      <mat-card-title>Update Profile</mat-card-title>
      <mat-card-subtitle>{{ walletAddress }}</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <p>
        <mat-form-field>
          <mat-label>Display Name</mat-label>
          <input
            matInput
            placeholder="e.g.: Chamath Wanigasooriya"
            formControlName="displayName"
          />
          <mat-icon matSuffix>person</mat-icon>
          <mat-error>
            <span *ngIf="hasError('displayName', 'required')"
              >Display name is <b>required</b></span
            >
          </mat-error>
        </mat-form-field>
      </p>

      <p>
        <mat-form-field>
          <mat-label>Email</mat-label>
          <input matInput placeholder="e.g.: vimbal@gmail.com" formControlName="email" />
          <mat-icon matSuffix>email</mat-icon>
          <mat-error>
            <span *ngIf="hasError('email', 'email')">Valid email is <b>required</b></span>
          </mat-error>
        </mat-form-field>
      </p>
      <p>Update Image</p>
      <p>
        <vimbal-drop-zone (onsuccess)="updatePhotoURL($event)"></vimbal-drop-zone>
      </p>
    </mat-card-content>
    <mat-card-actions align="end">
      <button mat-button type="reset">RESET</button>
      <button mat-raised-button color="primary" type="submit">UPDATE</button>
    </mat-card-actions>
  </mat-card>
</form>
