<div fxLayout="row wrap" fxLayoutAlign="space-around center">
  <!-- <mat-card fxFlexAlign="stretch">
    <mat-card-header>
      <div mat-card-avatar>
        <img src="https://material.angular.io/assets/img/examples/shiba2.jpg" />
      </div>
      <mat-card-title>Shiba Inu</mat-card-title>
      <mat-card-subtitle>Dog Breed</mat-card-subtitle>
    </mat-card-header>
    <img
      mat-card-image
      src="https://material.angular.io/assets/img/examples/shiba2.jpg"
      alt="Photo of a Shiba Inu"
    />
    <mat-card-content>
      <p>
        The Shiba Inu is the smallest of the six original and distinct spitz
        breeds of dog from Japan. A small, agile dog that copes very well with
        mountainous terrain, the Shiba Inu was originally bred for hunting.
      </p>
    </mat-card-content>
    <mat-card-actions>
      <button mat-button>SHARE</button>
    </mat-card-actions>
  </mat-card>
 -->
</div>

<p>{{ userWalletAddress }}</p>
<p>{{ currentBlockNumber }}</p>
<p>{{ chainData | json }}</p>
<p>{{ files }}</p>

<input
  type="file"
  (change)="captureFile($event)"
  accept=".txt"
  class="file-input"
  #fileUpload
/>

<div class="file-upload">
  {{ fileName || 'No file uploaded yet.' }}

  <button
    mat-mini-fab
    color="primary"
    class="upload-btn"
    (click)="fileUpload.click()"
  >
    <mat-icon>attach_file</mat-icon>
  </button>
</div>

<object data="" width="300" height="200">Not supported</object>
