<mat-tab-group dynamicHeight [selectedIndex]="selectedTabIndex">
  <mat-tab>
    <ng-template mat-tab-label>
      <mat-icon class="tab-icon">featured_play_list</mat-icon>
      Publications
    </ng-template>
    <ng-template matTabContent>
      <div fxLayout="column" fxFlexFill fxLayoutAlign="none">
        <mat-progress-spinner
          diameter="100"
          strokeWidth="4"
          style="margin: 15vh auto"
          *ngIf="isLoading"
          mode="indeterminate"
          color="primary"
        >
        </mat-progress-spinner>
        <p *ngIf="isLoading" style="margin: 15vh auto">
          Connecting to Ethereum Network...
        </p>
        <ng-container *ngFor="let item of filesByOwner">
          <vimbal-feed [fileData]="item"></vimbal-feed>
        </ng-container>
      </div>
    </ng-template>
  </mat-tab>
  <mat-tab>
    <ng-template mat-tab-label>
      <mat-icon class="tab-icon">reviews</mat-icon>
      Reviews
    </ng-template>
    <ng-template matTabContent>
      <ng-container *ngFor="let review of reviewsByOwner">
        <div class="review shadow-lg">
          <div class="review-header">
            <div class="review-date mb-1">
              <small>{{ review.createdAt | date: 'MMM d, y, h:mm:ss a' }}</small>
            </div>
          </div>
          <h4 class="review__title">{{ getFileById(review.id)?.title }}</h4>
          <div class="review__score">
            <span class="score">{{ review.rating }}</span>
            <span>&nbsp;/&nbsp;5&nbsp;</span>
            <vimbal-star-rating
              class="score-stars"
              [readonly]="true"
              [size]="1"
              [initialStars]="+review.rating || 0"
              [color]="'#FFBF00'"
              [maxStars]="5"
            ></vimbal-star-rating>
          </div>
          <div class="review__text">
            "<i>{{ review.review }}</i
            >" – <small>{{ review.owner }}</small>
          </div>
        </div>
        <mat-divider></mat-divider>
      </ng-container>
    </ng-template>
  </mat-tab>
</mat-tab-group>
