<mat-list>
  <div mat-subheader>Messages received from readers</div>
  <ng-container *ngFor="let item of notifications">
    <mat-list-item
      disableRipple
      (click)="goToChat(item.chatId)"
      *ngIf="item.receiver === walletAddress"
    >
      <span mat-list-icon><mat-icon>chat_bubble</mat-icon></span>
      <span mat-line>Sender: {{ (item.displayName | splitBy: '-')[0] }}</span>
      <span mat-line class="message-content">{{ item.content }}</span>
      <span mat-line>Time: {{ item.timestamp }}</span>
      <!-- <button mat-icon-button>
        <mat-icon color="warn">delete</mat-icon>
      </button> -->
    </mat-list-item>
  </ng-container>
  <mat-divider></mat-divider>
</mat-list>
