<h1 mat-dialog-title>{{ data?.title }}</h1>
<mat-dialog-content class="mat-typography">
  <form [formGroup]="paperSubmitForm">
    <p>
      <mat-form-field>
        <mat-label>Paper Title</mat-label>
        <input
          matInput
          placeholder="Enter your paper title"
          formControlName="title"
        />
        <mat-icon matSuffix>toc</mat-icon>
        <mat-error *ngIf="getFormControl('title').invalid">{{
          getErrorMessage('title')
        }}</mat-error>
      </mat-form-field>
    </p>

    <p>
      <mat-form-field>
        <mat-label>Abstract</mat-label>
        <textarea
          matInput
          placeholder="Enter your paper abstract"
          formControlName="abstract"
        ></textarea>
        <mat-hint>Optional</mat-hint>
      </mat-form-field>
    </p>
    <!--

    <p>
      <mat-form-field>
        <mat-label>Keywords</mat-label>
        <mat-chip-list #keywordChipList aria-label="Keywords" multiple formArrayName="keywords">
          <mat-chip *ngFor="let keyword of keywordsSet" [selected]="keyword" [value]="keyword"
            (removed)="removeKeyword(keyword)">
            {{keyword}}
          </mat-chip>
          <input placeholder="New keyword..." [matChipInputFor]="keywordChipList"
            (matChipInputTokenEnd)="addKeywordFromInput($event)">
        </mat-chip-list>
      </mat-form-field>
    </p> -->

    <!-- <div formArrayName="keywords">
      <div *ngFor="let keywordArray of getFormArray('keywords').controls; let i=index">
        <mat-form-field>
          <mat-label>Keywords</mat-label>
          <mat-chip-list #keywordChipList aria-label="Keywords" multiple [formControlName]="i">
            <mat-chip *ngFor="let keyword of keywordsSet" [selected]="keyword" [value]="keyword"
              (removed)="removeKeyword(keyword)">
              {{keyword}}
            </mat-chip>
            <input placeholder="New keyword..." [matChipInputFor]="keywordChipList"
              (matChipInputTokenEnd)="addKeywordFromInput($event)">
          </mat-chip-list>
        </mat-form-field>
      </div>
    </div> -->

    <div formArrayName="authors">
      <div class="flex flex-row justify-between flex-wrap">
        <div class="flex-initial">
          <h3>Authors</h3>
        </div>
        <div class="flex-initial">
          <button mat-button color="primary" (click)="addAuthor()">
            <mat-icon>add</mat-icon>
            Author
          </button>
        </div>
      </div>

      <div
        *ngFor="
          let authorArray of getFormArray('authors').controls;
          let i = index
        "
      >
        <mat-form-field>
          <mat-label>Author</mat-label>
          <input matInput placeholder="Author's Name" [formControlName]="i" />
        </mat-form-field>
      </div>

      <!-- <div *ngFor="let authorArray of getFormArray('authors').controls; let i=index">
        <mat-form-field>
          <mat-label>Authors</mat-label>
          <mat-chip-list #authorChipList aria-label="Authors" multiple [formControlName]="i">
            <mat-chip *ngFor="let author of authorsSet" [selected]="author" [value]="author"
              (removed)="removeAuthor(author)">
              {{author}}
              <button matChipRemove>
                <mat-icon>cancel</mat-icon>
              </button>
            </mat-chip>
            <input placeholder="New Author..." [matChipInputFor]="authorChipList"
              (matChipInputTokenEnd)="addAuthorFromInput($event)">
          </mat-chip-list>
        </mat-form-field>
      </div> -->
    </div>

    <vimbal-uploader (fileBuffer)="patchFileBuffer($event)"></vimbal-uploader>
  </form>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button
    mat-button
    mat-dialog-close
    [class]="data.cancelButton?.type"
    [color]="data.cancelButton?.color"
  >
    {{ data.cancelButton?.text }}
  </button>
  <button
    mat-button
    [mat-dialog-close]="paperSubmitForm.value"
    cdkFocusInitial
    [class]="data.okayButton?.type"
    [color]="data.okayButton?.color"
  >
    {{ data.okayButton?.text }}
  </button>
</mat-dialog-actions>
