.abstract {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 5; /* number of lines to show */
  line-clamp: 2;
  -webkit-box-orient: vertical;
}

.title-border {
  border: 1px solid #ccc;
  background-color: rgba(100, 148, 237, 0.1);
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 10px;
}
