<mat-card>
  <mat-card-header>
    <img matCardAvatar [src]="" />
    <mat-card-title>{{ fileData?.hash }}</mat-card-title>
    <mat-card-subtitle>{{ fileData?.description }}</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <p>ID: {{ fileData?.id }}</p>
    <p>Tip: {{ fileData?.tipAmount }}</p>
    <p>Timestamp: {{ fileData?.timestamp }}</p>
    <p>Author: {{ fileData?.author }}</p>
  </mat-card-content>
  <mat-card-actions align="start">
    <button mat-raised-button color="primary">TIP</button>
  </mat-card-actions>
</mat-card>
