<mat-card>
  <mat-card-header class="truncate">
    <img matCardAvatar [src]="" />
    <mat-card-title>{{ formatedFileData?.hash }}</mat-card-title>
    <mat-card-subtitle>{{ formatedFileData?.description }}</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <p>ID: {{ formatedFileData?.id }}</p>
    <p>Tip: {{ formatedFileData?.tipAmount }}</p>
    <p>Timestamp: {{ formatedFileData?.timestamp }}</p>
    <p>Owner: {{ formatedFileData?.owner }}</p>
  </mat-card-content>
  <mat-card-actions align="start">
    <button mat-stroked-button color="primary">
      <mat-icon>emoji_events</mat-icon>
      Tip
    </button>
    <button
      mat-raised-button
      color="primary"
      routerLink="/preview/{{ formatedFileData.id }}"
    >
      View
    </button>
  </mat-card-actions>
</mat-card>
