<!-- <div class="card">
  <header>Quote of the Day</header>
  <div class="content">
    <div class="quote-area">
      <i class="fas fa-quote-left"></i>
      <p class="quote">
        Nothing ever goes away until it has taught us what we need to know.
      </p>
      <i class="fas fa-quote-right"></i>
    </div>
    <div class="author">
      <span>__</span>
      <span
        *ngFor="
          let author of decodeData(formatedFileData?.authors) | splitBy: ',';
          let i = index;
          let last = last
        "
      >
        {{ author }}<span *ngIf="!last">, </span>
      </span>
    </div>
  </div>
  <div class="buttons">
    <div class="features">
      <button mat-stroked-button>TIP AUTHOR</button>
    </div>
  </div>
</div> -->

<div class="shadow-lg rounded-md overflow-hidden card">
  <ngx-doc-viewer
    [url]="getIpfsUri()"
    viewer="google"
    class="doc-viewer"
    [googleCheckContentLoaded]="true"
    [googleCheckInterval]="10000"
    [googleMaxChecks]="5"
    (loaded)="contentLoaded()"
  >
  </ngx-doc-viewer>

  <div class="py-7 px-6">
    <div class="flex justify-between items-end">
      <span>
        <vimbal-star-rating
          [readonly]="true"
          [size]="1"
          [initialStars]="0"
          [color]="'#FFBF00'"
          [maxStars]="5"
        ></vimbal-star-rating>
      </span>
      <button
        mat-stroked-button
        [routerLink]="['/review', formatedFileData?.id]"
        class="text-blue-500 capitalize border border-gray-300 rounded-md py-1 px-3"
      >
        reviews
      </button>
    </div>
    <br />
    <h1 class="text-2xl font-bold">{{ formatedFileData?.title }}</h1>
    <hr class="mt-3 mb-5" />
    <p>
      {{ formatedFileData?.description }}
    </p>
    <span class="text-gray-400 text-sm mt-2.5 mb-6 block">{{
      formatedFileData?.createdAt | date
    }}</span>
    <div class="flex justify-between items-end">
      <button
        (click)="tipAuthor(formatedFileData?.id)"
        mat-stroked-button
        class="capitalize bg-blue-500 rounded-md pt-1 pb-1.5 px-3.5 text-white"
      >
        tip author
      </button>
      <button class="text-gray-500 ml-2">
        ETH {{ getTipAmount(formatedFileData?.tipAmount) }}
      </button>
    </div>
  </div>
</div>
