<mat-card class="mat-elevation-z10 header">
  <mat-card-title-group>
    <mat-card-title>{{ file.title ? file.title : '' }}</mat-card-title>
    <mat-card-subtitle>
      <b>Authors:</b>
      <span
        *ngFor="
          let author of decodeData(file?.authors) | splitBy: ',';
          let i = index;
          let last = last
        "
      >
        {{ author }}<span *ngIf="!last">, </span>
      </span>
    </mat-card-subtitle>
  </mat-card-title-group>
  <mat-card-content>
    <p>
      <b>URL: </b
      ><a class="hover:cursor-pointer"
        >https://{{ file.hash ? file.hash : '' }}.ipfs.w3s.link</a
      >
    </p>

    <p><b>Abstract: </b>{{ file.description ? file.description : '' }}</p>
    <p>
      <b>Keywords: </b>
      <span
        *ngFor="
          let keyword of decodeData(file?.keywords) | splitBy: ',';
          let i = index;
          let last = last
        "
      >
        {{ keyword }}<span *ngIf="!last">, </span>
      </span>
    </p>
  </mat-card-content>
</mat-card>

<mat-list class="content">
  <div mat-subheader>Reviews</div>
  <mat-list-item *ngFor="let review of reviews" matRipple class="hover:cursor-pointer">
    <div matListAvatar><svg [data-jdenticon-value]="review?.owner"></svg></div>
    <div mat-line>{{ review?.owner }}</div>
    <div mat-line>
      <small>{{ review?.createdAt | date: 'MMM d, y, h:mm:ss a' }}</small>
    </div>
    <div mat-line>{{ review?.review }}</div>
    <vimbal-star-rating
      [readonly]="true"
      [size]="1"
      [initialStars]="+review.rating || 0"
      [color]="'#FFBF00'"
      [maxStars]="5"
      (ratingOutput)="onRatingSet($event)"
    ></vimbal-star-rating>
    <mat-divider></mat-divider>
  </mat-list-item>
</mat-list>
<br />

<mat-card
  class="pin-bottom mat-elevation-z3 hover:shadow-2xl"
  *ngIf="(isOwner() | async) === false"
>
  <mat-card-title-group>
    <vimbal-star-rating
      [readonly]="false"
      [size]="2"
      [initialStars]="0"
      [color]="'#FFBF00'"
      [maxStars]="5"
      (ratingOutput)="onRatingSet($event)"
    ></vimbal-star-rating>
    <mat-card-title>Post Review</mat-card-title>
    <mat-card-subtitle>Leave your review here</mat-card-subtitle>
  </mat-card-title-group>
  <mat-card-content>
    <mat-form-field>
      <mat-label>Type Review</mat-label>
      <input matInput [(ngModel)]="ngReviewTextModel" />
      <button mat-icon-button matSuffix (click)="createReview()">
        <mat-icon>send</mat-icon>
      </button>
    </mat-form-field>
  </mat-card-content>
  <mat-card-footer>
    <mat-progress-bar mode="determinate" [value]="100" color="primary"></mat-progress-bar>
  </mat-card-footer>
</mat-card>
