<div
  *ngIf="(downloadURL | async) !== null"
  class="dropzone"
  appDropzone
  (hovered)="toggleHover($event)"
  (dropped)="onDrop($event)"
  [class.hovering]="isHovering"
>
  <h3>Drag and Drop</h3>
  <br />
  <mat-form-field class="px-8">
    <input
      type="file"
      class="absolute top-0 z-10 h-full cursor-pointer opacity-0"
      accept=".jpeg,.jpg,.png"
      (change)="onButtonUpload($event)"
    />
    <mat-label>UPLOAD FILE</mat-label>
    <input matInput cdkFocusInitial class="z-0" />
    <mat-icon matSuffix class="mr-2">cloud_upload</mat-icon>
    <mat-hint class="mat-form-field-hint-end">JPEG / JPG / PNG</mat-hint>
  </mat-form-field>
</div>

<h3>Uploads</h3>

<div *ngFor="let file of files">
  <vimbal-upload-task
    [file]="file"
    (onupload)="setDownloadURL($event)"
  ></vimbal-upload-task>
</div>
