.dropzone {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  font-weight: 200;
  height: 500px;
  border: 2px solid #3f72c4;
  border-radius: 5px;
  margin: 10px 0;

  &.hovering {
    border: 2px solid #2f00ff;
    color: #dadada !important;
  }

  .file-label {
    font-size: 1.2em;
  }
}

progress::-webkit-progress-value {
  transition: width 0.1s ease;
}
